.checkbox {
    display: none;
}

.checkbox i {
    margin: 0;
}

.checkbox + label:before {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;

    content: "\2714";
    color: transparent;
    transition: color ease .3s;
    border: 1px solid #333333;
    border-radius: 4px;

    margin: 0 8px 0 0;
}

.checkbox:checked + label:before {
    color: #333333;
    border-color: #333333;
}