.main__section_margin {
    margin-top: 44px;
}

.display_none {
    display: none;
}

.body {
    margin: 0;
}

.text-block {
    display: block;
}

.invisible{
    display: none;
}

.visible {
    display: block;
}

.cursor_pointer {
    cursor: pointer;
}

.display_j-c_center {
    display: flex;
    justify-content: center;
}

.background_gray {
    background: #F2F2F2;
}