.tabs {
    list-style: none;
    display: flex;
    justify-content: center;
}
.tabs_padding_l {
    padding-left: 0;
}
.tabs_margin_vert {
    margin-top: 0;
    margin-bottom: 32px;
}

.tabs__item_margin_r {
    margin-right: 25px;
}

.active {
    color: #E5261E;
    border-bottom: 2px solid;
}