.tv-channels__item {
    width: 1180px;
    height: 162px;
    border-radius: 8px;
    display: flex;
}

.tv-channels__item_margins {
    margin-bottom: 16px;
    margin-right: 8px;
}

.tv-channels {
    overflow-y: scroll;
    height: 696px;
}
.tv-channels::-webkit-scrollbar {
    /* 1 - скроллбар */
    background: #F2F2F2;
    width: 8px;
    border-radius: 2px;
}
.tv-channels::-webkit-scrollbar-thumb {
    /* 5 - ползунок */
    background: #BDBDBD;
    border-radius: 2px;
}

.tv-channels__img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: inherit;
}

.tv-channels__text_paddings {
    padding: 5px 0;
}

.tv-channels__title_paddings {
    padding: 17px 0;
}

.tv-channels__tv-programm_margin_b {
    margin-bottom: 12px;
}

.tv-channels__tv-programm_time {
    width: 46px;
}

.tv-channels__tv-programm_title {
    width: 694px;
}