.footer-container {
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-container_paddings {
    padding-top: 22px;
    padding-bottom: 25px;
}
.footer-container_margin_t {
    margin-top: 56px;
}

.footer {
    width: 1180px;
}

.footer__img {
    float: left;
}

.footer__img_margin_r {
    margin-right: 40px;
}

.footer__text_padding {
    padding-bottom: 6px;
}
.footer_contact_margin {
    margin-bottom: 4px;
}